.Checkout{
    margin-top: 20px;
    text-align: center;
}

.Labels{
    margin-top: 30px;
}
input{
    margin-bottom: 10px;;
}
.CarritoMap{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 30px;
}